@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --primary: #4b4d9c;
  --secondary: #393e46;
  --bg-color: #242424;
  --txt-color: #ffffff;
}
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  overflow-x: hidden;
}
/* Components */
.btn {
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 4pt;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 5px 15px -5px #0000006c;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #00000025;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    opacity: 0;
    background-color: #00000046;
    transition: opacity 0.2s ease, width 0.4s ease;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  &:focus {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 4px 0px 15px -5px #00000054;
  }
}
.bg-none {
  background-color: transparent;
}
.td-none {
  text-decoration: none;
}
.shadow-none {
  box-shadow: none !important;
}
.shadow-less {
  box-shadow: 5px 2px 20px -5px #00000049;
}
.btn-secondary {
  background-color: var(--secondary) !important;
}
.txt-primary {
  color: var(--primary) !important;
}
.btn-sm {
  padding: 0.5rem 1.2rem !important;
}
/* Components End */
header {
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 3rem 10%;
  background-color: transparent;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    width: 9rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: #ffffff;
      margin: 0 0.4rem;
      position: relative;
      z-index: 100;
      &::before {
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        content: "";
        display: flex;
        background-color: #ffffff28;
        transform: translateX(-4%);
        opacity: 0;
        width: 0%;
        height: 9px;
        z-index: -1;
        transition: opacity 0.4s ease, width 0.4s ease;
      }
      &:hover {
        &::before {
          opacity: 1;
          width: 108%;
          transition: opacity 0.4s ease, width 0.4s ease;
        }
      }
    }
    .active {
      &::before {
        background-color: var(--primary);
        opacity: 1;
        width: 108%;
      }
    }
  }
}
.contain {
  margin: 0 10%;
}
/* Home */
.hmPage {
  padding-top: 5rem;
  position: relative;
  background: url(../assets/BG.webp) center/cover no-repeat;
  min-height: 700px;
  height: 100vh;
  max-height: 1080px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .hmContent {
    padding: 2rem 0;
    z-index: 2;
    background-color: transparent;
    color: #ffffff;
    h2 {
      font-size: 2.5rem;
      line-height: 2.5rem;
      letter-spacing: -1px;
      width: 600px;
      span {
        color: var(--primary);
        filter: brightness(140%) hue-rotate(0deg);
      }
    }
    .sm-txt {
      font-weight: 600;
      font-size: 1.4rem;
      opacity: 0.8;
    }
    .sm-about {
      margin-top: 2rem;
      width: 600px;
      opacity: 0.8;
    }
    .btn {
      margin-top: 3rem;
      margin-right: 0.7rem;
    }
  }
  .artwork {
    min-width: 700px;
    width: 700px;
    object-fit: contain;
    transform: translateX(-50px);
    filter: hue-rotate(25deg);
    z-index: 10;
    pointer-events: none;
    user-select: none;
  }
  canvas {
    z-index: 1;
    position: absolute;
    pointer-events: none;
  }
}
@media (max-width: 1616px) {
  .hmPage {
    .hmContent {
      .sm-txt {
        font-size: 1rem;
      }
      h2 {
        font-size: 2rem;
        width: 500px;
      }
      .sm-about {
        font-size: 0.8rem;
        width: 30vw;
      }
    }
  }
}
@media (max-width: 1413px) {
  .hmPage {
    .hmContent {
      .sm-txt {
        font-size: 1vw;
      }
      h2 {
        font-size: 2.6vw;
        line-height: 2rem;
      }
      .sm-about {
        font-size: 1.2vw;
        width: 35vw;
      }
    }
    .artwork {
      width: 60vw;
      min-width: auto;
    }
    .btn {
      padding: 0.8rem 1.5rem;
      font-size: 0.9rem;
    }
  }
}
@media (max-width: 1130px) {
  .hmPage {
    .hmContent {
      h2 {
        width: 400px;
      }
    }
  }
}
@media (max-width: 1000px) {
  header {
    img {
      width: 8rem;
    }
    nav {
      a {
        font-size: 0.9rem;
      }
    }
  }
  .hmPage {
    min-height: 600px;
    max-height: 600px;
    .hmContent {
      .sm-about {
        margin-top: 1rem;
      }

      .btn {
        margin-top: 2rem;
        padding: 0.6rem 1.1rem;
        font-size: 0.8rem;
      }
    }
  }
}
@media (max-width: 900px) {
  header {
    img {
      width: 8rem;
    }
    nav {
      a {
        font-size: 0.8rem;
      }
    }
  }
  .hmPage {
    min-height: fit-content;
    max-height: fit-content;
    height: fit-content;
    padding-top: 8rem;
    padding-bottom: 3rem;
    .hmContent {
      margin-right: 2rem;
      .sm-txt {
        font-size: 0.8rem;
      }
      h2 {
        font-size: 1.6rem;
        line-height: 1.6rem;
        width: 340px;
      }
      .sm-about {
        font-size: 0.8rem;
        width: 300px;
        line-height: 1rem;
      }
    }
    .artwork {
      width: 400px;
      min-width: 400px;
    }
    .btn {
      padding: 0.8rem 1.5rem;
      font-size: 0.9rem;
    }
  }
}
@media (max-width: 800px) {
  header {
    nav {
      a {
        font-size: 0.7rem;
      }
    }
  }
  .hmPage {
    .hmContent {
      .sm-txt {
        font-size: 0.6rem;
      }
      h2 {
        font-size: 1.2rem;
        width: 250px;
      }
      .sm-about {
        font-size: 0.6rem;
        line-height: 0.9rem;
        width: fit-content;
        min-width: 200px;
      }
      .btn {
        font-size: 0.6rem;
      }
    }
    .artwork {
      min-width: 350px;
    }
  }
}
@media (max-width: 620px) {
  header {
    padding: 1.8rem 10%;
    img {
      width: 100px;
    }
    nav {
      display: none;
    }
  }
  .hmPage {
    padding-top: 7rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    min-height: 540px;
    .hmContent {
      .sm-txt {
        font-size: 0.8rem;
        text-align: left;
      }
      h2 {
        font-size: 1.6rem;
        width: 100%;
        line-height: 2rem;
        text-align: left;
        width: 400px;
      }
      .sm-about {
        font-size: 0.8rem;
        line-height: 1.2rem;
        min-width: 200px;
        width: 100%;
        text-align: left;
      }
      .btn {
        font-size: 0.9rem;
        padding: 0.8rem 1.2rem;
      }
    }
    .artwork {
      width: 100%;
      transform: rotateY(180deg) translateX(15vw) scale(1.2);
      height: 200px;
    }
  }
}
@media (max-width: 470px) {
  .hmPage {
    .hmContent {
      h2 {
        width: fit-content;
      }
    }
  }
}
@media (max-width: 470px) {
  .hmPage {
    .hmContent {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 1.7rem;
        line-height: 1.8rem;
      }
      .sm-txt {
        font-size: 0.7rem;
      }
      .sm-about {
        font-size: 0.85rem;
        line-height: 1rem;
        margin-bottom: 1.5rem;
      }
      .btn {
        margin: 0;
        margin-top: 1rem;
      }
    }
    .artwork {
      width: 100%;
      transform: rotateY(180deg) translateX(20px) scale(1.2);
      height: 200px;
    }
  }
}
@media (max-width: 310px) {
  .hmPage {
    .hmContent {
      h2 {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
      .sm-txt {
        font-size: 0.6rem;
      }
      .sm-about {
        font-size: 0.7rem;
        line-height: 0.9rem;
        margin-bottom: 1.4rem;
      }
      .btn {
        margin: 0;
        margin-top: 1rem;
        font-size: 0.8rem;
        padding: 0.6rem 1rem;
      }
    }
    .artwork {
      width: 100%;
      transform: rotateY(180deg) translateX(50px) scale(1.2);
      height: 150px;
    }
  }
}
@media (max-width: 230px) {
  main {
    display: none;
  }
}
/* Home End */
/* Services */
.services {
  width: 100%;
  background-color: var(--bg-color);
  figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    .img {
      background: linear-gradient(#b3e1fff8, #98c7e6ee),
        url("../assets/abstBack.svg") center/cover;
      box-shadow: inset -20px 0 25px -25px #00000036;
      filter: hue-rotate(20deg);
      background-color: #b3e0ff;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 400px;
        object-fit: contain;
      }
    }
    background-color: #ffffff;
    color: #242424;
    .contain {
      margin: 0 5%;
    }
    .conTxt {
      padding-bottom: 2rem;
      height: 100%;
      position: relative;
      h2 {
        font-size: 2.5rem;
        color: var(--primary);
        filter: hue-rotate(-10deg);
        padding-top: 4rem;
        padding-bottom: 1rem;
        z-index: 50;
        line-height: 2.5rem;
        border-bottom: 1pt dotted #0000003b;
      }
      .ltText {
        margin-top: 2rem;
        font-size: 1rem;
        color: #666666;
      }
      .ulCap {
        margin-top: 2rem;
        color: #606060;
        font-weight: 600;
      }
      ul {
        margin-top: 1rem;
        margin-left: 2.2rem;
        color: #404040;
        list-style-type: none;
        list-style-image: url("../assets/WebIcons/Correct.svg");
      }
      .btn {
        box-shadow: none;
        margin-top: 2rem;
      }
      .price {
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 400;
        color: #404040;
        line-height: 2rem;
        span {
          color: #17a067;
          font-weight: 700;
          font-size: 2.5rem;
          strong {
            font-size: 1.5rem;
          }
        }
      }
      .sm-text {
        font-size: 0.8rem;
        margin-top: 2rem;
        color: #4040405e;
      }
    }
    .hueChange {
      box-shadow: inset 20px 0 25px -25px #0000001f;
      filter: hue-rotate(-50deg) brightness(90%) contrast(120%);
    }
    .vpsCon {
      .price span,
      h2 {
        color: #11806f;
      }
      button {
        background-color: #11806f;
      }
    }
  }
}
@media (max-width: 1200px) {
  .services {
    figure {
      .img {
        img {
          width: 80%;
        }
      }
    }
  }
}
@media (max-width: 820px) {
  .services {
    figure {
      font-size: 0.8rem;
      .ltText {
        font-size: 0.8rem !important;
      }
      h2 {
        font-size: 2rem !important;
      }
      .sm-text {
        font-size: 0.6rem !important;
      }
      &:nth-child(2) {
        flex-direction: column-reverse;
      }
      display: flex;
      flex-direction: column;
      .img {
        padding: 2rem 1rem;
        box-shadow: inset 0 10px 25px -25px #00000036;
        img {
          width: 100%;
        }
      }
      .btn {
        padding: 0.8rem 1.2rem;
        font-size: 0.8rem;
      }
    }
  }
}
@media (max-width: 435px) {
  .services {
    figure {
      .price {
        margin-bottom: 1.8rem;
      }
      .btn {
        width: 100%;
        margin-top: 0.8rem !important;
      }
    }
  }
}
@media (max-width: 330px) {
  .services figure .conTxt {
    .price {
      font-size: 0.9rem;
      line-height: 1.4rem;
      span {
        color: #17a067;
        font-weight: 700;
        font-size: 1.5rem;
        strong {
          font-size: 1.5rem;
        }
      }
    }
  }
}
/* Services End */
/* Extra Services */
.otherService {
  background-color: #ffffff;
  color: #303030;
  padding: 2rem 0;
  padding-bottom: 5rem;
  .contain {
    border-top: 1px dotted #00000025;
    padding-top: 1rem;
  }
  h6 {
    font-weight: 400;
    font-size: 1rem;
    color: #414141;
  }
  h2 {
    font-size: 2.3rem;
    line-height: 2rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #40404081;
  }
  ul {
    margin-top: 1rem;
    margin-left: 2.2rem;
    color: #404040;
    list-style-type: none;
    list-style-image: url("../assets/WebIcons/Correct.svg");
    text-align: left;
  }
  .price {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1.6px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #0cbd73;
    text-align: center;
    width: 100%;
  }
  .plansChart {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    &:hover .chart {
      filter: blur(5px);
      transition: filter 0.8s ease 1.4s;
    }
    .chart {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      border-radius: 4pt;
      padding: 2rem;
      background-color: #ffffff;
      box-shadow: 0px 0px 80px -20px #0000002f;
      h3 {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .btn {
        box-shadow: none;
        padding: 0.7rem 2rem;
        font-size: 1rem;
        background-color: #404040;
        width: 100%;
      }
      .sm-text {
        font-size: 0.8rem;
        color: #686868ab;
        margin-bottom: 2rem;
      }
      ul {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .xsm-text {
        font-size: 1.2rem;
        letter-spacing: 0px;
      }
      .price {
        color: #404040;
      }
      transition: transform 0.8s ease 0.2s, filter 0.8s ease 0s;
      &:hover {
        filter: blur(0);
        transform: scale(1.2);
        z-index: 100;
        transition: transform 0.8s ease 1.4s, zindex 0s ease 0.8s;
      }
    }
    .Premium {
      position: relative;
      color: var(--primary);
      .btn {
        background-color: var(--primary);
      }
      .price {
        color: var(--primary);
      }
      &::before {
        content: attr(data-badge);
        background-color: #0cbd73;
        color: #ffffff;
        padding: 0 1rem;
        border-radius: 3pt;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(20px, -10px);
      }
    }
  }
}
@media (max-width: 800px) {
  .otherService {
    .contain {
      margin: 0 5%;
    }
    h6 {
      font-size: 0.9rem;
    }
    h2 {
      font-size: 2rem;
    }
    ul {
      font-size: 0.8rem;
    }
    .plansChart .chart .btn {
      font-size: 0.9rem;
    }
  }
}
@media (max-width: 700px) {
  .otherService {
    .plansChart {
      &:hover .chart {
        filter: none;
      }
      .chart {
        &:hover {
          filter: blur(0);
          transform: none;
        }
      }
    }
  }
}
@media (max-width: 330px) {
  .otherService {
    .plansChart {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      .price {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        .xsm-text {
          font-size: 1rem;
        }
      }
    }
  }
}
/* Extra Services End */
/* Banner for Contact Us */
.bannerContact {
  background: url("../assets/ContactUsBack.webp") center/cover no-repeat fixed;
  padding: 4rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 1.8rem;
  }
  h5 {
    font-weight: 400;
    opacity: 0.8;
    width: 650px;
  }
  .btn {
    background-color: #ffffff;
    color: #404040;
    font-weight: 700;
  }
}
@media (max-width: 1100px) {
  .bannerContact {
    h2 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 0.8rem;
      width: 500px;
    }
  }
}
@media (max-width: 925px) {
  .bannerContact {
    h2 {
      font-size: 1.2rem;
    }
    h5 {
      font-size: 0.8rem;
      width: 400px;
      line-height: 0.9rem;
      margin-top: 0.5rem;
    }
  }
}
@media (max-width: 825px) {
  .bannerContact {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h2 {
      line-height: 1.5rem;
      font-size: 1.5rem;
    }
    h5 {
      font-size: 0.8rem;
      width: 100%;
      margin-bottom: 2rem;
    }
    .btn {
      font-size: 0.9rem;
      padding: 0.8rem 1.8rem;
    }
  }
}
@media (max-width: 350px) {
  .bannerContact {
    text-align: left;
    .btn {
      width: 100%;
    }
  }
}
/* Banner for Contact Us End */
/* Customers Page */
.customers {
  background-color: #ffffff;
  padding: 4rem 10%;
  color: #404040;
  h2 {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .gridCus {
    padding: 0 1rem;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2rem;
    img {
      filter: grayscale(1);
      width: 100%;
      height: 100px;
      object-fit: contain;
      transition: filter 0.4s ease, transform 0.4s ease;
      &:hover,
      &:focus {
        filter: grayscale(0);
        transform: scale(1.2);
      }
    }
  }
}
@media (max-width: 500px) {
  .customers {
    .gridCus {
      grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
    }
  }
}
/* Customers Page End */
/* Footer */
footer {
  background: linear-gradient(#242424ee, #242424e5),
    url("../assets/wiggle.svg") center/cover;
  padding: 4rem 10%;
  display: grid;
  grid-template-columns: 200px repeat(4, 1fr);
  grid-gap: 2rem;
  div {
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      justify-content: center;
      align-items: center;
      .logoP {
        width: 210px;
        padding: 0 2rem;
        opacity: 0.7;
        transition: opacity 0.4s ease;
        &:hover {
          opacity: 1;
        }
      }
      span {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a {
          width: fit-content;
          img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            margin-right: 1rem;
            opacity: 0.4;
            transition: opacity 0.4s ease;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      a {
        font-size: 1rem;
        color: #ffffffe0;
        cursor: pointer;
        opacity: 0.7;
        text-decoration: underline;
        transition: opacity 0.2s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.footerDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.3rem 10%;
  background-color: #202020;
  font-size: 0.85rem;
  color: #ffffff70;
  a {
    color: #ffffff70;
  }
}
@media (max-width: 1300px) {
  footer {
    grid-template-columns: 200px repeat(3, 1fr);
    div {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}
@media (max-width: 1065px) {
  footer {
    grid-template-columns: none;
    grid-template-areas:
      "img . ."
      "th fr fv";
    div {
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        grid-area: img;
        .logoP {
          width: 200px;
          padding: 0;
        }
      }
      &:nth-child(3) {
        grid-area: th;
      }
      &:nth-child(4) {
        grid-area: fr;
      }
      &:nth-child(5) {
        grid-area: fv;
      }
    }
  }
}
@media (max-width: 1065px) {
  footer {
    grid-template-columns: none;
    grid-template-areas:
      "img"
      "th"
      "fr"
      "fv";
  }
}
@media (max-width: 800px) {
  footer {
    div {
      a {
        font-size: 0.8rem !important;
      }
    }
  }
  .footerDown {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 0.7rem !important;
    a {
      margin-top: 0.2rem;
    }
  }
}
/* Footer End */
